* {
    box-sizing: border-box;
}

body {
    height: 100vh;
}

@font-face {
    font-family: "pokemon-solid";
    src: url("../assets/fonts/pokemon-solid.ttf");
}

header {
 
}

#search-bar-container {
    margin: -1px;
    position: absolute;
    width: 19rem;
    max-height: 1.8rem;
    padding-top: 0.4rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
    clip-path: polygon(0% 0%, 100% 0%, calc(100% - 2rem) 100%, 0% 100%);
    background-image: url("../assets/img/poke-red.png");
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition-property: left;
    transition-duration: 1s;
    left: -12rem;
}

.long {
    left: 0rem !important;
}

#reveal-search-button {
    padding: 0px;
    margin-left: 0.5rem;
    max-width: 1.3rem;
    border-color: transparent;
    border-radius: 50%;
    outline: none;
    background-image: url(../assets/img/poke-red.png);
}

#search-bar {
    max-width: 8rem;
    transition-property: opacity;
    transition-duration: 0.2s;
    border-radius: 8px;
    padding-left: 0.3rem;
    outline: none;
    opacity: 0;
}

.opaque {
    opacity: 1 !important;
}

#search-icon {
    width: 100%;
    object-fit: contain;
    transform: scaleX(-1);
}

#pokedex-lense {
    position: absolute;
    transform: rotate(80deg);
    left: 1rem;
    width: 3rem;
    height: 3rem;
    z-index: 1;
}

main {
    display: grid;
    height: 100%;
    grid-template-columns: 5rem auto;
    grid-template-areas: ". card-display";
}



#card-display-section {
    grid-area: card-display;
    width: 100%;
    /* box-shadow: -5px 0px 30px rgb(92, 92, 92); */
    background-color: rgb(233, 233, 233);
}

#card-display-list {
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    /* max-width: 1198px; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

#card-display-list:first-child {
    margin-top: 2rem;
}

.card {
    position: relative;
    flex-direction: column;
    align-items: center;
    margin: 0.2rem;
    background-color: whitesmoke;
    border-radius: 5px
}

.card .pokemon-number {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    padding: 0rem 0.3rem;
    border-radius: 10%;
    transform: skew(-25deg);
    background-image: url("../assets/img/poke-red.png");
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
    text-align: center;
    font-size: 1rem;
}

.card-image {
    width: 100%;
}

.card .pokemon-name {
    text-align: center;
    font-size: 1.8rem;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
}

.card .pokemon-types {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card .pokemon-types li {
    display: inline-block;
    margin: 2px;
    width: 3rem;
    height: 1.5rem;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

/* 
.card .pokemon-types li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#side-nav-container {
    position: fixed;
    width: 3rem;
    top: 9rem;
    left: 1rem;
    background-color: rgb(73, 73, 73);
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    padding-bottom: 2rem;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 90%);
}

#side-nav-container #pokeball-icon {
    width: 2.8rem;
    margin-top: 0.1rem;
    margin-left: 0.1rem;
    clip-path: circle(1.36rem);
}

.spin {
    animation-name: spin;
    animation-duration: 0.5s;
    animation-iteration-count: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#side-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.side-nav-item {
    margin-top: 1rem;
    width: 100%;
}

.side-nav-item button {
    text-decoration: none;
    outline: none;
    background-color: transparent;
    border-color: transparent;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.8rem;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    padding: 0px;
}

.side-nav-item button:hover {
    font-weight: 700;
}

.sort-types {
    display: grid;
    margin: 0px;
    grid-template-columns: repeat(auto-fill, minmax(2rem, 1fr));
    width: 3rem;
    padding: 0 0.2rem;
    border-top: solid 2px grey;
    background-color: rgb(29, 29, 29);
    overflow-y: scroll;
    transition: max-height 0.3s;
    max-height: 10rem;
}

.scrunch {
    max-height: 0rem;
}

::-webkit-scrollbar {
    display: none;
}

.sort-types a {
    height: 2.4rem;
    width: 100%;
    border-bottom: 1px solid rgb(73, 73, 73);
    position: relative;
}

.sort-types a:active {
    background-color: blue;
}

.sort-types a img {
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.hidden {
    display: none;
}